/* outfit-black-latin */
@font-face {
	font-family: Outfit;
	font-style: normal;
	font-weight: 900;
	src: local('Outfit Black'), local('Outfit-Black'),
		url(/fonts/outfit-black-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2212, U+2215;
	font-display: swap;
}
/* outfit-bold-latin */
@font-face {
	font-family: Outfit;
	font-style: normal;
	font-weight: 700;
	src: local('Outfit Bold'), local('Outfit-Bold'),
		url(/fonts/outfit-bold-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2212, U+2215;
	font-display: swap;
}
/* outfit-regular-latin */
@font-face {
	font-family: Outfit;
	font-style: normal;
	font-weight: 400;
	src: local('Outfit Regular'), local('Outfit-Regular'),
		url(/fonts/outfit-regular-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2212, U+2215;
	font-display: swap;
}
